      /* Media Query for Mobile Devices */
      @media (max-width: 480px) {
        body {
            background-color: red;
        }
    }
     
    /* (min-width: 481px) and  Media Query for low resolution  Tablets, Ipads */
    @media (max-width: 767px) {
        body {
            background-color: yellow;
        }
        .awork{
            position: relative;
        }
    }
     
    /* Media Query for Tablets Ipads portrait mode */
    @media (min-width: 768px) and (max-width: 1024px){
        body {
            background-color: blue;
        }
        .awork{
            position: relative;
        }
    }
     
    /* Media Query for Laptops and Desktops */
    @media (min-width: 1025px) and (max-width: 1280px){
        body {
            background-color: green;
        }
    }
     
    /* Media Query for Large screens */
    @media (min-width: 1281px) {
        body {
        }
    }