html {
  scroll-behavior: smooth;
}

body {
  background-color:beige;
}
@font-face {
  font-family: sillygoth;
  src: url(assets/fonts/sillygoth.ttf);
}

/* LETTERS */
mark {
  color: yellow;
  -webkit-text-stroke: 1px black;
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}
a {
  text-decoration: none;
  color: #818181;
  transition: 0.3s;
}
a:hover {
  color: #f1f1f1;
} 


h1 {
  background-color: pink;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-family: sillygoth;
  transform: skew(15deg);
  font-stretch: ultra-expanded;
  font-size: 3em;
  cursor: pointer;
  bottom: 0;
}

/* CONSTRUCTION */

.construction {
  display: none;
  d: 7000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  position: fixed;
  background-image: url("underconstruction2.png");
  background-size: cover;
}
/* MOREINFO KNOP */

#overlay {
  z-index: 200;
  display: none;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.info {
  z-index: 220;
  font-family: sillygoth;
  top: 0;
  right: 0;
  position: fixed;
  float: right;
}
	
#navright {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
}

#navright .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#open{
	top: 50%;
	transform: rotate(90deg) translateY(50%);}
/* FLOOR MENU KNOP + SVG */

.menu {
  width:15vw;
  cursor: pointer;
  z-index: 170;
  font-family: sillygoth;
  font-size: 3vw;
  top: 0;
  right:0;
  padding-right: 1em;
  position: fixed;
  float:right;
  perspective: 1800px;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 0.1s ease;
  display: none;
}
.icon {
  position: fixed;
  width: 10vh;
  height: 10vh;
  border: 4px groove black;
  transform: rotateX(65deg);
}
svg {
  margin-left: auto;
  margin-right: auto;
  font-family: sillygoth;
}
#wf {
  top: 0;}
  
.footer {
	z-index:150;
  width: 100%;
  display: none;
  position:fixed;
  top:0;
}

/* TABS */
.inlay {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

#tabbox {
  font-family: Arial;
  font-size:11px;
  position: fixed;
  width: 130%;
float:center;
  z-index: 100;}


.floortext {
  align-content: center;
  letter-spacing: 1px;
  background-repeat: no-repeat;
  font-family: Arial;
  font-size:13px;
  background-position: center top;
  padding-left: 1em;
  padding-right:1em;
  background-size: contain;
  position: fixed;
  width: 93vh;
  height: auto;
  margin-top:2em;
  margin-left:1em;
  display: none;
  z-index: 100;
text-align:justify;
-moz-text-align-last: center;
  text-align-last: center;
    box-shadow: 5px 10px 18px red;
}

.xfloor,.closebtn {
  display: block;
  font-size: 3em;
  float: right;
-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: red;}



/* ART + FLOORS */

.art {
  padding-top:1em;
  margin-left: auto;
  margin-right: auto;
  width: 36em;
  height: 93vh;
  position: relative;
  perspective: 1800px;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(-30deg);
  border:10px double orange;
  border-radius: 60%;
}
#floor5,
.black_square,
.white_square {
  display: block;
  padding: 0px;
  margin: 0px;
}
.black_square,
.white_square {
  width: 6em;
  height: 6em;
  float: left;
}
.black_square {
  background-color: #000000;
}

#floor5 {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  cursor: pointer;
  border: 2px solid black;
  position: fixed;
  width: 36em;
  height: 36em;
  float: center;
  transform: rotateX(65deg) translateZ(10em);
  perspective: 1800px;
  transform-style: preserve-3d;
}
#floor4 {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  cursor: pointer;
  background-image: url("/assets/images/floor/floor-kapel.png");
  background-size: cover;
  position: absolute;
  width: 36em;
  height: 36em;
  float: center;
  transform: rotateX(65deg) translateZ(5em);
}
#floor3 {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  cursor: pointer;
  background-image: url("/assets/images/floor/floor-tapestry.png");
  position: absolute;
  width: 36em;
  height: 36em;
  border: 2px solid black;
  transform: rotateX(65deg) translateZ(0em);
}
#floor2 {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  cursor: pointer;
  background-image: url("/assets/images/floor/floor-blue.png");
  background-repeat: repeat;
  position: absolute;
  width: 36em;
  height: 36em;
  float: center;
  transform: rotateX(65deg) translateZ(-5em);
}
#floor1 {
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  cursor: pointer;
  background-image: url("/assets/images/floor/floor-paper.png");
  position: relative;
  width: 36em;
  height: 36em;
  float: center;
  border: 1px outset red;
  transform: rotateX(65deg) translateZ(-10em);
  perspective: 1800px;
  transform-style: preserve-3d;
}
.floors:hover{
-webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: initial;
}
  
  
.work-icon {
  z-index: 300;
  transform: rotateX(-65deg) rotateY(30deg) translateZ(1em);
  cursor: pointer;
}

/* The Modal (background) */
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}


@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close {
  position: absolute;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
  
#close{
  display: block;
  font-size: 3em;
  float: right;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}